# Documents
/docs/_*
/docs/*.log

# IDE
.idea/
.vscode/
.devcontainer/

# Local Development
.venv/
venv/
.venv*/
venv*/
.python-version

# Cache
*__pycache__*

# Debug logs
**/debug/*

# Builds
/build/*
/dist/*
*egg-info*

# Settings
/setup.cfg

# OS
.DS_Store

# Star catalogue
/BSC5*

# Databases except the default
*.npz
!**/default_database.npz
*.dat
